<div class="forgot-container">
  <div class="forgot-box">
    <h2>Forgot password?</h2>
    <p>Enter your username or the email address that you used to create your account.</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="email" formControlName="email" placeholder="Enter your email" />
      <div class="error-message" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
        Enter a valid email
      </div>
      <button type="submit">Send Reset Link</button>
    </form>

    <!-- <div class="error-message" *ngIf="error">{{ error }}</div>
    <div class="success-message" *ngIf="message">{{ message }}</div> -->


    <div class="success" *ngIf="message">{{ message }}</div>
    <div class="error" *ngIf="error">{{ error }}</div>

    <a routerLink="/login">⬅ Back to Login</a>
  </div>
</div>